@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --graphic-design-text: hsl(167, 40%, 24%);
 --photography-text: hsl(198, 62%, 26%);
 --footer: hsl(170, 47%, 73%);
  
  
  
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
   --very-darkgrayish-blue: hsl(213, 9%, 39%);
   --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
   --white: hsl(0, 0%, 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

ul{
  list-style-type: none;
}

p{
  line-height: 1.5;
  font-size: 16px;
  color: var(--very-darkgrayish-blue);
  font-weight: 600;
}

h2{
  font-family: "Fraunces", sans-serif;
  color: var(--very-dark-desaturated-blue);
 
}



.nav-toggle-btn {
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 54px;

 
}

.navbar-nav::after{
  content: "";
  position: absolute;
  top: -19px;
  right: -20px;
}



body {
  font-family: "Barlow", sans-serif;
}

.showcase{
  background: url("./images/mobile/image-header.jpg") no-repeat center/cover;
  height: 512px;
}

.showcase .overlay {
  height: 512px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-transform {
  font-family: "Fraunces", sans-serif;
  color: var(--very-dark-desaturated-blue);
  border-bottom: 5px solid var(--yellow);
  text-transform: uppercase;
  font-weight: 800;
}

.btn-StandOut {
  color: var(--very-dark-desaturated-blue);
  border-bottom: 5px solid var(--soft-red);
  text-transform: uppercase;
  font-family: "Fraunces", sans-serif;
  font-weight: 800;
}

.testimonial-header {
  color: var(--dark-grayish-blue);
}

.footer {
  background-color: var(--footer);
}

@media (min-width: 768px) {
  .showcase {
  background: url("./images/desktop/image-header.jpg")
  no-repeat center/cover;
  height: 512px;
}
}