*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

ul{
  list-style-type: none;
}

p{
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Fraunces", sans-serif;
}

body {
  font-family: "Barlow", sans-serif;
}
